# macOS

.DS_Store

# Xcode build files

build/
DerivedData/

# Xcode user settings

*.xcuserstate
*.xcworkspace
*.xcuserdata/

# Swift Package Manager

.build/
Package.resolved

# CocoaPods

Pods/
Podfile.lock

# Carthage

Carthage/Build/

# Fastlane

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives

*.xcarchive

# Logs

*.log

# Temporary files

*.swp
*.tmp

# Test results

*.xcresult

# Playgrounds

timeline.xctimeline
playground.xcworkspace

# Simulator related

*.simruntime
